@mixin nav {
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
@mixin goflex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin title1{
    font-family: Helvetica;
    font-size: 79px;
    font-weight: 700;
    line-height: 91px;
    letter-spacing: 0em;
    text-align: left;
}
@mixin h3{
    font-family: Helvetica;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}
@mixin h4{
    font-family: Helvetica;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
@mixin p{
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}
